<h1>Template Syntax</h1>
<a href="#interpolation">Interpolation</a><br>
<a href="#expression-context">Expression context</a><br>
<a href="#statement-context">Statement context</a><br>
<a href="#mental-model">Mental Model</a><br>
<a href="#buttons">Buttons</a><br>
<a href="#prop-vs-attrib">Properties vs. Attributes</a><br>

<!--Interpolation and expressions-->
<hr><h2 id="interpolation">Interpolation</h2>
<p>My current hero is {{currentHero.name}}</p>

<h3>
  {{title}}
  <img src="{{heroImageUrl}}" style="height:30px">
</h3>

<!--"The sum of 1 + 1 is 2"-->
<p>The sum of 1 + 1 is {{1 + 1}}.</p>

<!--"The sum of 1 + 1 is not 4"-->
<p>The sum of 1 + 1 is not {{1 + 1 + getVal()}}</p>

<a class="to-toc" href="#toc">top</a>

<hr><h2 id="expression-context">Expression context</h2>

<p>Component expression context (&#123;&#123;title&#125;&#125;,[hidden]="isUnchanged")</p>
<div class="context">
  {{title}}
  <span [hidden]="isUnchanged">Changed</span>
</div>

<p>Template input variable expression context (let hero)</p>
<!--template hides the following; plenty of examples later-->
<ng-template>
  <div *ngFor="let hero of heroes">{{hero.name}}</div>
</ng-template>

<p>Template reference variable expression context (#heroInput)</p>
<div (keyup)="0" class="context">
  Type something:
  <input #heroInput>{{heroInput.value}}
</div>

<a class="to-toc" href="#toc">top</a>

<hr><h2 id="statement-context">Statement context</h2>

<p>Component statement context ( (click)="onSave()")</p>
<div class="context">
  <button (click)="deleteHero()">Delete hero</button>
</div>

<p>Template $event statement context</p>
<div class="context">
  <button (click)="onSave($event)">Save</button>
</div>

<p>Template input variable statement context (let hero)</p>
<!--template hides the following; plenty of examples later-->
<div class="context">
  <button *ngFor="let hero of heroes" (click)="deleteHero(hero)">{{hero.name}}</button>
</div>

<p>Template reference variable statement context (#heroForm)</p>
<div class="context">
  <form #heroForm (ngSubmit)="onSubmit(heroForm)"> ... </form>
</div>

<a class="to-toc" href="#toc">top</a>

<!--New Mental Model-->
<hr><h2 id="mental-model">New Mental Model</h2>

<div class="special">Mental Model</div>
<img src="assets/images/hero.png">
<button>Save</button>
<br><br>

<div>
<!--  Normal HTML-->
  <div class="special">Mental Model</div>
<!--  Wow! A new element!-->
  <app-hero-detail></app-hero-detail>
</div>

<div>
<!--  Bind button disabled state to `isUnchanged` property-->
  <button [disabled]="isUnchanged">Save</button>
</div>
<br><br>

<!--buttons-->
<hr><h2 id="buttons">Buttons</h2>

<button>Enabled (but does nothing)</button>
<button disabled>Disabled</button>
<button disabled=false>Still disabled</button>
<br><br>
<button disabled>disabled by attribute</button>
<button [disabled]="isUnchanged">disabled by property binding</button>
<br><br>
<button bind-disabled="isUnchanged" on-click="onSave($event)">Disabled Cancel</button>
<button [disabled]="!canSave" (click)="onSave($event)">Enabled Save</button>

<a class="to-toc" href="#toc">top</a>

<!--property vs. attribute-->
<hr><h2 id="prop-vs-attrib">Property vs. Attribute (img examples)</h2>
<!--examine the following <img> tag in the browser tools-->
<img src="images/ng-logo.png"
  [src]="heroImageUrl">

<br><br>

<img [src]="iconUrl"/>
<img bind-src="heroImageUrl"/>
<img [attr.src]="villainImageUrl">

<a class="to-toc" href="#toc">top</a>
